* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(bg.jpg);

  background-size: cover;
  /* background-color: rgba(245, 10, 10, 0.253); */
}

nav > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(85, 124, 73);
  font-weight: 700;
  font-size: 70px;
  text-shadow: 8px 1px rgb(16, 58, 5);
}



#player-1 {position: relative;
  left:20px;
  margin-top: 5px;
  text-align: center;
  color: rgb(241, 221, 228);
  width:200px;
  font-weight: 700;
  font-size: 40px;
  background-color: #553030;
  border: 4px solid rgb(252, 238, 238);
  border-radius: 20%;
}

.button {
  position: relative;
  top:40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn,
#btn1 {
  width: 200px;
  margin: 20px;
  padding: 10px;
  font-size: 22px;
  color: rgb(66, 3, 35);
  font-weight: 730;
  border-radius: 40px;
  left: 20px;
  background-color: rgb(96, 199, 165);

  border-style: double;
}


#ig2 {
  position: relative;
  top:220px;
  margin-left: 30px;
  margin-top: 20px;
}

.lg {
  margin-left: 30px;
  

}

 #id13,
#id37 {
  opacity: 0.5;
  background-color: rgb(248, 14, 14);
}
#id22,
#id39{
  background-color: rgb(236, 195, 28);
  opacity: 0.5;
} 

#start-btn {

position: relative;
left: -380px;
  width: 80px;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  margin-bottom: 5px;
}

#instructions {
  width: 260px;
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  background-color: rgb(116, 238, 211);
}

#next {
  position: relative;
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  text-align: center;
  left: 320px;
  top: 400px;
}

#player {
  display: flex;
  justify-content: space-evenly;
}

article > .ig {
  border: 1px solid black;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 500px;
  height: 450px;
  z-index: 3;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.popup #close-btn {
  cursor: pointer;
  position: absolute;
  left: 160px;
  bottom: 30px;
  width: 230px;
  height: 30px;
  background: #222;
  color: rgb(235, 12, 12);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 30%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

#popup {
  margin-top: 2px;
  width: 300px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  text-decoration-line: underline;
  text-underline-position: below;
}



#container {
    position: relative;
  top: -30px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-template-columns: repeat(15, 50px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 3px solid rgb(73, 8, 8);
  background-color:rgb(82, 9, 9);
  border-radius:2%;
  opacity:0.7;
}

.cl {
  height: 80px;
  width: 80px;
 
  text-align: center;
  align-items: center;
 
  border-radius: 5px;
}

#green {
  background-color: chartreuse;
  color: white;
  font-size: 18px;
}
#red {
  background-color: rgb(240, 23, 23);
  color: white;
  font-size: 18px;
}


 #result{
   display: none;
   align-items: center;
   top:180px;
left:400px;
   position: absolute;
   height:40%;
   width:40%;
   background-color:rgb(236, 164, 164);
   border-radius:20%;
  


 }

 #result-won{
   position: relative;
   text-align: center;
   top:10px;
   font-size: 60px;
 }

 #result button{
   position:relative;
  align-items: center;
  left:180px;
  top:30px;
  width:160px;
  height:auto;
  font-size: 40px;
  border-radius: 25%;
  font-weight:900;
  background-color:rgb(235, 219, 1);

 }


.progress{
position: relative;
left:270px;
width:60%;
top:-70px;
color:green;
background-color:green;

}

#health{
background-color:white;
position : relative;
top:-120px;
left:-520px;
color: rgb(26, 241, 62);
font-weight: 700;
font-size: 30px;
border: 2px double black;
border-radius:20%;
}